version: "3.9"

services:
  api:
    build: .
    container_name: fastapi_api
    restart: unless-stopped
    ports:
      - "8082:8000"
    env_file:
      - .env
    environment:
      WORD_TEMPLATE_PATH: /data/Template.docx 
      QUOTES_TEMPLATE_PATH: /data/Template_quotes.docx
    volumes:
      - ./volumes/word-template:/data
    networks:
      - internal

networks:
  internal:
    driver: bridge
