version: "3.9"

services:
  api:
    build: .
    container_name: fastapi_api
    restart: unless-stopped
    ports:
      - "8000:8000"
    env_file:
      - .env
    networks:
      - internal

networks:
  internal:
    driver: bridge
